%div.games
  %h2.title Arcader Games
  - @games.each do |game|
    %div.game
      %div.image_tag
        = authenticated_link_to image_tag(game.game_image), user_matches_path(game), current_user
      %div.game_text
        %h5
          = authenticated_link_to game.name, user_matches_path(game), current_user
        %p
          = authenticated_link_to game.description, user_matches_path(game), current_user
%div.game_scores
  %div.game_table
    %h2
      = "Top Game Scores"
      - @games.each do |game|
        %div.each_game_score
          %h3= game.name
          - top = top_scorer_for_game game
          - if top.class == Array
            %h4
              Top Winner:
              - unless top[0] == nil
                = User.find(top.first).name
                %br
                = image_tag (User.find(top.first)).user_image.thumb.url
            %h4
              Top Score:
              = top[1]*20
          - else
            %h4= top
%div.current_users
  %div.user_info
    %h2.user_info
      = link_to "Current Users", users_path
    - User.all.each do |user|
      %div.each_user
        - if user.user_image != nil
          %h4.left
            = image_tag user.user_image.thumb.url
          %h4.right
            = link_to user.username, user_path(user)


