!!!
%div.games
  - @games.each do |game|
    %div.game
      %div.image_tag
        = image_tag game.game_image.detail.url
      %div.game_text
        %h5
          = game.name
        = game.description
%div.game_scores
  %div.game_table
    %h2
      = link_to "Top Game Scores", matches_path
      - @games.each do |game|
        %div.each_game_score
          %h3= game.name
          - top = top_scorer_for_game game
          - if top.class == Array
            %h4
              Top Winner:
              = User.find(top[0]).name
            %h4
              Top Score:
              = top[1]*20
          - else
            %h4= top
%div.current_users
  %div.user_info
    %h2
      = link_to "Current Users", users_path
      - User.all.each do |user|
        %div.each_user
          - if user.user_image != nil
            %h4.left
              = image_tag user.user_image.thumb.url
            %h4.right
              = link_to user.username, "users#show"
              %br


